<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="studentService" class="org.example.init.service.StudentServiceImpl"/>-->

    <bean id="ssFactory" class="org.example.init.factory.FactoryBean"/>
    <bean id="studentService" factory-bean="ssFactory" factory-method="createInstance"/>

</beans>